@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100wh;

}
input.empty-field {
    border-color: red;
    outline: none;
  }
  input.empty-field::placeholder {
    color: red;
  }

.failed::placeholder,
.failed {
  border: 1px solid red;
  color: red;
}
h4 {
    font-size: 1.5em;
    font-family: 'Climate Crisis', cursive;
    color: #7d7d7d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
  }

  .login-heading {
    color: #7d7d7d;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  p {
    color: #7d7d7d;
    font-size: 1.0em;
    font-style: normal;
    
  }


  h1 {
    font-size: 2.5em;
    font-family: 'Climate Crisis', cursive;
    color: #7d7d7d;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
  }
  
  .bg {
    background-image: url("C:\Users\PRINYADA\Downloads\alexandra-gorn-JIUjvqe2ZHg-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    overflow: auto;
    
  }
  table {
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px none;
  }
  
  table td {
    padding: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #f2f2f2;
  border-width: 10px;
  background-color: white;
  }
  p {
    font-weight: bold;
  }
